{% extends 'base.html' %}
{% block title %}ورود مدیر | {{ site.site_name }}{% endblock %}
{% block content %}<div class="container"><div class="card auth-card"><div class="card-body p-4"><h1 class="h4 mb-3">ورود مدیر</h1>
    <form method="post">{% csrf_token %}
        <label class="form-label">موبایل</label><input name="mobile" class="form-control mb-3" dir="ltr" required>
        <label class="form-label">رمز عبور</label><input type="password" name="password" class="form-control mb-3" dir="ltr" required>
        {% if error %}<div class="text-danger small mb-2">{{ error }}</div>{% endif %}<button class="btn btn-primary w-100">ورود</button></form>
</div></div></div>{% endblock %}
